<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="basicLayOut">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/join.css}">
    </th:block>

    <th:block layout:fragment="content">
        <h1>join</h1>
        <form th:action="@{join}" method="post" th:object="${userEntity}">
            <!--이메일 인증처리하는거-->
            <!--임의의 authCd 5글자를 아무거나 DB에 입력시키고 메일로 보내준다 코드가 같다면 회원가입시키는걸로-->
            <!--다시 authCd는 다시 null로 바꾼다.-->

            <div><input type="email" th:field="*{email}" placeholder="email" autofocus></div>
            <div><input type="password" th:field="*{pw}" placeholder="password"></div>
            <div><input type="text" th:field="*{nm}" placeholder="nm"></div>
            <div><input type="tel" th:field="*{tel}" placeholder="tel"></div>
            <div>
                <input type="submit" value="회원가입">
                <input type="reset" value="초기화">
            </div>
        </form>
    </th:block>
</html>